################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015/2017 cache/options directory
/.vs
